<!--
  Generated template for the Hello2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hello Page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h1>Hello 2</h1>
    <button>Test de page</button>
    <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
