<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <h1>Livres lus</h1>
    <button ion-item *ngFor="let item of readed" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.description}}
      </div>
    </button>
      <h1>Livres non lus</h1>
    <button ion-item *ngFor="let item of unreaded" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.description}}
      </div>
    </button>
  </ion-list>
</ion-content>
