<!--
  Generated template for the Livre page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>livre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>{{book.title}}</h1>
    <p>{{book.title}}</p>
    <p>Code : <b>{{book.code}}</b></p>
    <p><b>{{book.id}}</b></p>
    <button ion-button (click)=(deleteBook())>Supprimer livre</button>
</ion-content>
