<!--
  Generated template for the Authentification page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>authentification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="auth.email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="auth.password" name="password" required></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Se connecter</button>
    </form>

</ion-content>
